{
    "swagger": "2.0",
    "info": {
        "title": "REST API for Oracle Field Service August 2016",
        "version": "2016.06.16",
        "description": "<p>Oracle Field Service extends your customer service operations into the field, allowing you to achieve operational excellence and improve productivity while surpassing customer expectations, no matter how complex your organization.</p><p>Oracle Field Service provides multiple public REST APIs that can be used to access data stored in Oracle Field Service and construct integrations to other systems. These systems could be other Oracle Cloud applications or offerings, or they could be external systems in a customer or partner network. Secure access to these services requires appropriate authentication for the environment, standard HTTP methods, and JSON syntax.</p>",
        "x-summary": "Oracle Field Service extends your customer service operations into the field, allowing you to achieve operational excellence and improve productivity while surpassing customer expectations, no matter how complex your organization."
    },
    "host": "sunrise0770.etadirect.com",
    "schemes": [
        "https"
    ],
    "basePath": "/rest/ofscCore/v1",
    "parameters": {
        "paramActivityId": {
            "name": "activityId",
            "in": "path",
            "description": "The unique identifier of the activity in Oracle Field Service.",
            "type": "integer",
            "required": true
        },
        "paramInventoryId": {
            "name": "inventoryId",
            "in": "path",
            "description": "The unique identifier of the inventory in Oracle Field Service.",
            "type": "integer",
            "required": true
        },
        "paramResourceId": {
            "name": "resourceId",
            "in": "path",
            "description": "The unique identifier of the resource in Oracle Field Service. This maps to the resource field 'external_id' and is not necessarily set for all resources. The resources without this parameter are not visible to the operation.",
            "type": "string",
            "required": true
        },
        "paramPlanMeasure": {
            "name": "measure",
            "in": "query",
            "type": "string",
            "enum": [
                "man_hours",
                "points",
                "scheduled",
                "FTE"
            ],
            "description": "The type of measure used for the work plan.",
            "required": true
        },
        "paramPlanDate": {
            "name": "date",
            "in": "query",
            "description": "The date when the work plan is assigned to the resource. Specify the date in YYYY-MM-DD format.",
            "type": "string",
            "required": true
        },
        "paramResourceExpand": {
            "name": "expand",
            "in": "query",
            "description": "<p>The sub-entities that are embedded into each resource item returned in the response. The value is a comma-separated string containing a combination of the following values: inventories, workZones, workSkills, and workSchedules.</p><p>If one or more values are specified then the appropriate sub-entities are embedded into each resource item. For example, the following query returns the work zones and work skills linked to the specified resource: https://&lt;environment_name&gt;.fs.ocs.oraclecloud.com/rest/ofscCore/v1/resources/{resourceId}?expand=workZones,workSkills. If the value is not specified then none of the sub-entities are expanded, and they are provided as links that can be retrieved by another call.</p><p>To avoid huge responses, any sub-entity that contains more than 500 items is not expanded, and it is returned as a usual link. The link can be used to retrieve the sub-entity in a separate call using the limit and offset parameters to control the response size.</p>",
            "type": "array",
            "collectionFormat": "csv",
            "items": {
                "type": "string",
                "enum": [
                    "inventories",
                    "workSkills",
                    "workZones",
                    "workSchedules"
                ]
            },
            "required": false
        },
        "paramResourceFields": {
            "name": "fields",
            "in": "query",
            "description": "The comma-separated names of the resource fields that are returned in the response.<ul><li>If the value of this parameter is not specified, then all the resource fields and custom properties are returned by default.</li><li>If the resource fields are specified, then only the 'resourceId' field and requested fields are returned. For example: https://&lt;environment_name&gt;.fs.ocs.oraclecloud.com/rest/ofscCore/v1/resources/john.smith?fields=resourceId,resourceType,status.</li><li>If incorrect resource fields are specified, then the 400 error code is returned.</li></ul>",
            "type": "array",
            "items": {
                "type": "string"
            },
            "collectionFormat": "csv",
            "required": false
        },
        "paramLogin": {
            "name": "login",
            "in": "path",
            "description": "The unique identifier of the user account in Oracle Field Service.",
            "type": "string",
            "required": true
        },
        "paramFileBody": {
            "name": "file",
            "in": "body",
            "schema": {
                "$ref": "#/definitions/file"
            }
        },
        "paramOffset": {
            "name": "offset",
            "in": "query",
            "description": "The record number from which the retrieval starts. The default value is zero. If no value is specified, then it defaults to zero. The value zero indicates that the retrieval will start from the beginning of the collection.",
            "type": "integer",
            "required": false
        },
        "paramLimit": {
            "name": "limit",
            "in": "query",
            "description": "The number of items to be returned in the response. The minimum value that can be specified is 1 and the maximum value that can be specified is 100. If the specified value is greater than 100, zero, or if no value is specified, then it defaults to 100.",
            "type": "integer",
            "required": false
        },
        "paramLimit1000": {
            "name": "limit",
            "in": "query",
            "description": "The number of items to be returned in the response. The maximum value is 1000. If a higher value is specified, then the value will be set to the maximum allowed value and the specified value is ignored.",
            "type": "integer",
            "required": false
        },
        "paramLimit100000": {
            "name": "limit",
            "in": "query",
            "description": "The number of activities to be returned in the response. The minimum value that can be specified is 1 and the maximum value that can be specified is 100,000. If the specified value is greater than 100,000, then it defaults to 100,000.",
            "type": "integer",
            "required": false
        },
        "paramPropertyLabel": {
            "name": "propertyLabel",
            "in": "path",
            "description": "The label of a custom property. This custom property must be of type 'file'.",
            "type": "string",
            "required": true
        },
        "paramAccept": {
            "name": "Accept",
            "in": "header",
            "description": "<p>The request must contain the Accept header to retrieve the file contents. The header must have either of the following:<ul><li>The actual content type (for example, application/pdf for pdf documents).</li><li>The special value 'application/octet-stream', when you don't know the content type.</li></ul></p><p>If the request doesn't have the Accept header, the response contains only the file metadata in JSON format.</p>",
            "type": "string",
            "required": false
        },
        "paramContentDisposition": {
            "name": "Content-Disposition",
            "in": "header",
            "description": "The custom filename for the property. For example, <i>Content-Disposition: attachment; filename=\"photo-of-the-door.jpg\"</i> sets the filename for the property to 'photo-of-the-door.jpg'.",
            "type": "string",
            "required": false
        },
        "paramFileContentType": {
            "name": "Content-Type",
            "in": "header",
            "description": "The media type of the  property. For file properties of type 'image' having content-type as 'image/png', 'image/jpeg', or 'image/gif', Oracle Field Service generates a preview thumbnail that appears in Manage/Mobility.",
            "type": "string",
            "required": false
        }
    },
    "tags": [
        {
            "name": "Core/Activities",
            "description": "The activities resource is used to view, create, or update activities. It is also used to search for activities based on a specified criteria, view individual segments of segmentable activities, and retrieve activity status and technician information. An activity is any time-consuming task done by a resource. For example, installation, trouble call, lunch, team meeting, and so on."
        },
        {
            "name": "Core/Activities/Activity Actions",
            "description": "The activity actions resource is used to perform various actions on activities such as start activity, delay activity, move activity, complete activity, and so on."
        },
        {
            "name": "Core/Activities/Activity File Properties",
            "description": "The activity file properties resource is used to view, create, or delete a file property for a specific activity. The file property may be used to transfer files such as documents, photos,  signatures, and so on."
        },
        {
            "name": "Core/Activities/Activity Links",
            "description": "The activity links resource is used to view, create, update, or delete links associated with the specific activity. Links are used to identify dependencies between activities. For example, Activity A must be complete before Activity B can start."
        },
        {
            "name": "Core/Activities/Activity Inventories",
            "description": "The activity inventories resource is used to view or create customer inventories for a specific activity and view installed and deinstalled inventories for a specific activity. Activity inventories are the inventories assigned to perform an activity."
        },
        {
            "name": "Core/Activities/Activity Required Inventories",
            "description": "The activity required inventories resource is used to view, create, update, or delete required inventories for a specific activity. Activity inventories are the inventories required to perform an activity."
        },
        {
            "name": "Core/Activities/Activity Resource Preferences",
            "description": "The activity resource preferences resource is used to view, create, update, or delete resource preferences for a specific activity. Resource preferences identify whether certain resources are preferred, required, or forbidden from being assigned to the activity."
        },
        {
            "name": "Core/Activities/Submitted Forms",
            "description": "The list of submitted forms associated with the activity."
        },
        {
            "name": "Core/Extracts/Daily Extracts",
            "description": "The daily extract resource is used to view the dates for which daily extract files are available, view the daily extract files available for download on a specified date, and download the daily extract files for a specified date. Daily Extract is used to report on entities, such as activities, inventory, and messages for storage and further analysis. Extracted data is stored in the Daily Extract Database as a package of XML files."
        },
        {
            "name": "Core/Extracts/Billing Metrics",
            "description": "The billing metrics resource is used to view the dates for which billing metrics files are available, view the billing metrics files available for download on a specified date, and download these files. Billing metrics are the lists of activities and users identifiers as a proof that the billing and business metrics are sent and available for storage and further analysis. Data is stored as a CSV files."
        },
        {
            "name": "Core/Events",
            "description": "The events resource is used to create, view, or delete a subscription. It is also used to view a list of events. The events resource is used to subscribe to events in Oracle Field Service and to get notifications about the events."
        },
        {
            "name": "Core/Inventories",
            "description": "The inventories resource is used to view, create, update, or delete an inventory. It is also used to create or retrieve the file property for a specific inventory. Actions such as install inventory, deinstall inventory, and so on are also supported on this resource."
        },
        {
            "name": "Core/Resources",
            "description": "The resources resource is used to view, create, or update a resource. It is also used to view child resources, view or create resource inventories, and so on. Actions such as bulk update and find matching resources are also supported on this resource. A resource is a defined company asset or an individual who performs an activity."
        },
        {
            "name": "Core/Resources/Resource File Properties",
            "description": "The resource file properties resource is used to view, create, or delete file property for a specific resource. The file property may be used to transfer files such as documents, photos, signatures, and so on."
        },
        {
            "name": "Core/Resources/Resource Work Plans",
            "description": "he resource work plans resource is used to view, create, or delete a work plan for a specific resource. Work plans may be used by a field manager in Oracle Field Service Mobility application to measure a planned amount of working time for a group resource for each day."
        },
        {
            "name": "Core/Resources/Resource Work Skills",
            "description": "The resource work skills resource is used to view, create, or delete work skills for a specific resource. The work skills functionality helps correlate the skill requirement for an incoming activity to the skills specified for each resource. This ensures that a resource is able to perform the activities assigned to it."
        },
        {
            "name": "Core/Resources/Resource Work Schedules",
            "description": "The resource work schedules resource is used to view, create, or delete work schedules for a specific resource. Work schedule is a representation of the resource's work calendar, which includes working hours, working and non-working days, reasons for absence, and so on."
        },
        {
            "name": "Core/Resources/Resource Work Zones",
            "description": "The resource work zones resource is used to view, create, or delete work zones for a specific resource. Work zones define the regional areas in which resources are permitted to work."
        },
        {
            "name": "Core/Resources/Resource Assigned Users",
            "description": "The resource assigned users resource is used to assign and unassign users to resources."
        },
        {
            "name": "Core/Resources/Resource Locations",
            "description": "The resource locations resource is used to view, create, or delete locations for a specific resource. It is also used to create or update the location assignment. Location assignment means assigning the location as 'start', 'end', or 'home zone center' for the resource."
        },
        {
            "name": "Core/Resources/Resource Routes",
            "description": "The resource routes resource is used to view, activate, or deactivate a resource route. A route is a list of scheduled or non-scheduled activities assigned to a resource for a specific date."
        },
        {
            "name": "Core/Resources/Resource Positions",
            "description": "The resource positions resource is used to create positions for resources, view last known positions of resources, view resources for specific areas, and view position history of a specific resource."
        },
        {
            "name": "Core/Users",
            "description": "The users resource is used to view, create, update, or delete a specific user and view a list of users. A user is a person who uses Oracle Field Service or an entity that allows people or external software to access Oracle Field Service."
        },
        {
            "name": "Core/Users/User File Properties",
            "description": "The user file properties resource is used to view, create, or delete file property for a specified user. The file property may be used to transfer files such as documents, photos, signatures, and so on."
        },
        {
            "name": "Core/Users/User Collaboration Groups",
            "description": "The user collaboration groups resource is used to view, create, or delete collaboration groups for a specific user. A user can be simultaneously associated with multiple collaboration groups."
        },
        {
            "name": "Core/Service Requests",
            "description": "The service requests resource is used to view and create service requests. A service request is a data container, which can be used to collect information about activities, resources, or inventories when used by integrated systems."
        }
    ],
    "paths": {
        "/activities": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "summary": "Create an activity",
                "description": "This operation creates a new activity. By default, the new activity has the status as 'pending'.",
                "operationId": "post /rest/ofscCore/v1/activities",
                "x-relation": [
                    "create"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "201": {
                        "schema": {
                            "$ref": "#/definitions/getActivitySchema"
                        },
                        "description": "This section describes the 201 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/createActivitySchema"
                        }
                    }
                ],
                "tags": [
                    "Core/Activities"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-post"
            },
            "get": {
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "summary": "Get activities",
                "description": "This operation retrieves a list of activities that match the criteria specified in the request.<p>This operation is subject to the following conditions:<ul><li><b>Number of Requests</b>:<ul><li>The maximum number of 'Get activities' requests than can be sent simultaneously is three. If more than three requests are sent, then the additional requests are queued.</li><li> The maximum number of requests that can be queued is 10. Any additional requests are rejected with an error message.</li><li>The maximum wait time of a request in the queue is 30 seconds. If the waiting time exceeds 30 seconds, an error message is returned.</li></ul><li><b>Number of Activities Returned</b>: The maximum number of activities that can be retrieved in a single response is 100,000. If the value specified for the 'limit' parameter is greater than the maximum number, then the value 100,000 limit is used for limit parameter.</li><li><b>Date Range</b>: The maximum date range that can specified for a single request is 31 days. If the date range ('dateTo' - 'dateFrom') exceeds 31 days, then an error message is returned in the response.</li><li><b>Response Size</b>: The response for a single request is limited to 20 MB. If the response size is close to 20 MB, the operation returns fewer activities than requested, and the response contains the 'hasMore' flag set to 'true'. This flag indicates that there are more activities to be returned. In this case, a new request with 'offset' parameter set to the last returned item count is sent.</li><li><b>Operation Run Time</b>: The maximum run time for a single operation is 30 seconds. When the 30-second time limit is reached, the operation returns fewer activities than requested and the response contains the 'hasMore' flag set to 'true'. This flag indicates that there are more activities to be returned. In this case, a new request with 'offset' parameter set to the last returned item count is sent. If the time limit has exceeded before any activities are included in the response (for example, due to slow database response), an error is returned.</li><li><b>Custom Properties Quantity</b>: The maximum number of custom properties used in the request and/or returned in the response is 50. If more than 50 properties are included in the request, an error message is returned. The 50-property restriction includes both the custom properties used in the 'fields' parameter and in the 'q' parameter.</li> <p>Note: the function in some cases may not found existing activities if they has been recently created or bring some activity fields with not actual values if they were recently updated. The following conditions need to be met in order for the function to return the actual data without the latency effect:<ul><li>The request doesn't require filtering by fields except the field status. It means if there is a \"q=...\" parameter, the query may not return recently created activities. There is one exception to this rule: you can use \"q=...\" parameter with a single expression status=='<status>' (e.g. status=='pending') exactly in this form. Such expression will allow to get matching activities including recent ones.</li></ul></p><p>Examples.<ul><li>The following request will return data without latency effect :</li></ul></p><p>GET https://&lt;environment_name&gt;.fs.ocs.oraclecloud.com/rest/ofscCore/v1/activities/?resources=tech6121000001&dateFrom=2019-08-14&dateTo=2019-08-14&q=status=='pending'&fields=activityId,resourceId,date,status'</p><p>This request contains query parameter in a form status=='some_status'<ul><li>The following request may miss some recently created activities (latency effect) :</li></ul></p><p>GET https://&lt;environment_name&gt;.fs.ocs.oraclecloud.com/rest/ofscCore/v1/activities/?resources=tech6121000001&dateFrom=2019-08-14&dateTo=2019-08-14&q=status != 'cancelled' and activityType in ['IN','TC','BR']&fields=activityId,resourceId,date,status'</p><p>This request contains query parameter in other form then status=='some_status' : it uses != comparison and another field (activityType)</p>",
                "operationId": "get /rest/ofscCore/v1/activities",
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/getActivitiesResponse"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "resources",
                        "in": "query",
                        "description": "The comma-separated list of resource IDs that are returned in the response. This parameter works in conjunction with the includeChildren parameter.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "required": true
                    },
                    {
                        "name": "includeChildren",
                        "in": "query",
                        "description": "Indicates whether the subordinate resources must be returned. <ul><li>If the value is none, then only the activities assigned to the specified resource are returned.</li><li>If the value is immediate, then the activities assigned to the specified resource and its first level descendants are returned.</li><li>If the value is all or if it is not specified, then the activities assigned to the specified resource and its descendants in the hierarchy tree are returned.",
                        "type": "string",
                        "enum": [
                            "none",
                            "immediate",
                            "all"
                        ],
                        "required": false
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "<p>The filter expression applied to the activities in addition to the resource and date filters. Only the activities that match this filter are added to this subscription.</p><p>The following are the filter expression rules:</p><ul><li>It should be specified as a single string.</li><li>It should evaluate to a boolean expression.</li><li>It should contain one or more comparison statements.</li><ul><li>Syntax of comparison statement: &lt;field&gt; &lt;operator&gt;&lt;value&gt;. For example, activityDetails.activityType == 'Install'.</li><li>The order mentioned in the syntax cannot be changed. For example, ('Install' == activityDetails.activityType) is not a valid comparison statement.</li><li>The comparision between fields (A == B) or value-to-value (1 == 1) is also not valid.</li><li>The field has to be an alphanumeric identifier with no spaces or special characters except underscore. The subfields are separated by dot (.). For example:</li><ul><li>activityDetails.activityType</li><li>activityDetails.X_MYPROP_10</li><li>field.subField</li></ul></ul><li>The following are the supported comparison operators:<ul><li>&lt;</li><li>&gt;</li><li>&lt;=</li><li>&gt;=</li><li>==</li><li>!=</li><li>in</li></ul></li><li>The value of the 'filterExpression' field can be a string literal, an integer literal, or an array literal of strings and integers<ul><li>String literals are delimited by single quotes, with escape character ~, for example:</li><ul><li>str =='My String'</li><li>str =='My string with ~' a quote inside'</li></ul><li>Integer literals are without quotes, they may not contain dot or leading zeroes. For example:</li><ul><li>num ==0</li><li>num ==12345</li><li>num ==-67</li></ul><li>Array literals must contain only strings or only integers, and are in square brackets. Empty arrays are not allowed. Arrays are only allowed after the &quot;in&quot; operator. For example:</li><ul><li>enum in [1,2,3]</li><li>enum in ['Abc','Def','Ghi']</li></ul></ul></li><li>String comparisons are valid. For example: date &gt; '2015-06-02'.</li><li>String comparisons are not case-sensitive. For example: name == 'john.smith' is the same as name == 'JOHN.SMITH'.</li><li>String to integer coercion is valid. For example: num== -123 is the same as num== '-123'.</li><li>Multiple comparison statements have to be separated by logical operators (and, or). For example:<ul><li>A == 1 and B == 2 or C == 3</li><li>A == 'xx' or A == 'yy'</li></ul></li><li>The operator precedence is as follows:<ol><li>comparison operators: ==,!=, &lt;, &gt;, &lt;=, &gt;=, in</li><li>'not'</li><li>'and', 'or'. The logical operators ('and' / 'or') have the same precedence, so parentheses can be used to achieve precedence. For example: A == 1 and (B == 2 or C == 3)</li></ol></li><li>Operators are not case-sensitive. For example, (num IN[1,2,3]) OR (num &lt; 0).</li><li>Any statement can be preceded by &quot;not&quot; operator to negate it. For example:</li><ul><li>not (activityType in ['IN','TC','BR'])</li><li>A == 1 and not ( B == 2 or B == 3 )</li></ul><li>Whitespaces outside strings are ignored.</li><li>If the field or property is not set, then it evaluates to an empty string. For example, expression <em>null_field == ''</em>.</li></ul><p>Example: GET https://&lt;environment_name&gt;.fs.ocs.oraclecloud.com/rest/ofscCore/v1/activities?q=status+%3D%3D+%27pending%27+and+slaWindowEnd+&lt;+%272016-10-23%27</p>",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "dateFrom",
                        "in": "query",
                        "description": "The activities that begin from the specified date are retrieved in the response. Specify the date in YYYY-MM-DD format. It is optional if the parameter 'includeNonScheduled' = true. If the dateForm is specified, the dateTo parameter should also be specified. <p>Example: https://&lt;environment_name&gt;.fs.ocs.oraclecloud.com/rest/ofscCore/v1/activities?dateFrom=2016-09-21&dateTo=2016-09-22</p>",
                        "type": "string",
                        "format": "date",
                        "required": false
                    },
                    {
                        "name": "dateTo",
                        "in": "query",
                        "description": "The activities that end until the specified date are retrieved in the response. Specify the date in YYYY-MM-DD format. If dateTo is specified, the dateFrom parameter must also be specified.<p>Example: https://&lt;environment_name&gt;.fs.ocs.oraclecloud.com/rest/ofscCore/v1/activities?dateFrom=2016-09-21&dateTo=2016-09-22</p>",
                        "type": "string",
                        "format": "date",
                        "required": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma-separated field names that are returned in the response. The field names are the names that you specify when you create an activity or retrieve an activity. The field names can also contain custom property names. 'positionInRoute' cannot be retrieved via API. If the value of this parameter is not specified in the request, then it defaults to: activityId,resourceId,date,status.<p>Example: https://&lt;environment_name&gt;.fs.ocs.oraclecloud.com/rest/ofscCore/v1/activities?fields=activityId,status,apptNumber,recordType</p><p><b>Note</b>: If the fields specified in the 'fields' parameter are empty for a given activity, then they are not returned in 'Get Activities' response. For example, if you specify 'fields=apptNumber' and some of the returned activities do not contain apptNumber, then an empty object '{}' is returned in the response.</p>",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "required": false
                    },
                    {
                        "name": "includeNonScheduled",
                        "in": "query",
                        "description": "Indicates whether non-scheduled activities must be returned.<ul><li>If the value is not specified, then non-scheduled activities are not returned.</li><li>If the value of this parameter is 'true', then the 'dateFrom' and 'dateTo' are not required. If the 'dateFrom' and 'dateTo' parameters are not specified, then only the non-scheduled activities are returned.</li><li>If the value of this parameter is 'true' and the 'dateFrom' and 'dateTo' parameters are specified, then both the scheduled and non-scheduled activities are returned.</li><li>If the value of this parameter is 'false' or is not specified, then the 'dateFrom' and 'dateTo' parameters are required, and only the scheduled activities are returned.</li></ul>",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "$ref": "#/parameters/paramOffset"
                    },
                    {
                        "$ref": "#/parameters/paramLimit100000"
                    }
                ],
                "tags": [
                    "Core/Activities"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-get"
            }
        },
        "/activities/{activityId}": {
            "patch": {
                "produces": [
                    "application/json"
                ],
                "summary": "Update an activity",
                "description": "This operation updates the properties of the specified activity.<p>The properties that cannot be updated include date, status, resourceId, activityId, positionInRoute, and custom file properties.</p>",
                "operationId": "patch /rest/ofscCore/v1/activities/{activityId}",
                "x-relation": [
                    "update"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/getActivitySchema"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "integer",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/updateActivitySchema"
                        }
                    }
                ],
                "tags": [
                    "Core/Activities"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-patch"
            },
            "delete": {
                "produces": [
                    "application/json"
                ],
                "summary": "Delete an activity",
                "description": "This operation deletes the specified activity when the following conditions are met:<ul><li>The activity status is 'pending'.</li><li>The activity is not scheduled for a past date.</li><li>The route is not started.</li></ul>",
                "operationId": "delete /rest/ofscCore/v1/activities/{activityId}",
                "x-relation": [
                    "delete"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "204": {
                        "description": "This section describes the 204 status response for this operation. This response code indicates that the operation has completed successfully. This operation does not return any elements in the response body."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "integer",
                        "required": true
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Actions"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-delete"
            },
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "Get an activity",
                "description": "This operation retrieves the activity properties for the specified activity.",
                "operationId": "get /rest/ofscCore/v1/activities/{activityId}",
                "x-relation": [
                    "canonical"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/getActivitySchema"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "integer",
                        "required": true
                    }
                ],
                "tags": [
                    "Core/Activities"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-get"
            }
        },
        "/activities/{activityId}/multidaySegments": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "Get individual segments of a segmentable activity",
                "description": "This operation retrieves the segments related to the specified segmentable activity.<p>A segmentable activity can span across multiple days and can be assigned to one or more resources. The segmentable activity is divided into segments wherein each segment is an activity with a status (started, completed, and so on). All activity segments have the following settings:</p><ul><li>The recordType field set to multiday_activity_segment.</li><li>The masterActivityId field set to the ID of the parent segmentable activity.</li></ul><table cellpadding=\"4\", cellspacing=\"0\",class=\"Formal\", summary= \"The table lists various scenarios and the corresponding API logic for the operation.\", frame=\"hsides\", border=\"1\", rules=\"rows\"><tr><th>Scenario</th><th>API Response</th></tr><tr><td><p> The client terminates a segmentable activity with the following details: </p><ul><li> The status of the activity is <b>Started</b>.</li><li> The activity has a segment with the <b>Started</b> status.</li><li> The client sends a <b>Cancel</b> request for another segment and specifies the final status for the segmentable activity in the request with the <b>multidayActivityStatus</b> attribute.</li></ul></td><td>The API returns the HTTP 409 status code error with the description, 'Unable to terminate a segmentable activity that has a started segment'.</td></tr><tr><td> The client specifies the value of the <b>multidayActivityStatus</b> attribute in the request, but does not specify the value of the <b>multidayTimeToComplete</b> attribute.</td><td> The API assumes the value of the <b>multidayTimeToComplete</b> attribute to be zero and proceeds with the request.</td></tr><tr><td> The client sends the <b>multidayActivityStatus</b> attribute and the non-zero <b>multidayTimeToComplete</b> attribute in the request.</td><td> The API returns the HTTP 400 status code with the description,'Bad Request'.</td></tr></table>",
                "operationId": "get /rest/ofscCore/v1/activities/{activityId}/multidaySegments",
                "x-relation": [
                    "multidaySegments"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/activities"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/paramActivityId"
                    }
                ],
                "tags": [
                    "Core/Activities"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-multidaySegments-get"
            }
        },
        "/activities/{activityId}/{propertyLabel}": {
            "put": {
                "summary": "Set a file property",
                "description": "This operation creates the specified file property for the specified activity.<p>Note: The maximum size of the file that can be uploaded is 5 MB.</p>",
                "operationId": "put /rest/ofscCore/v1/activities/{activityId}/{propertyLabel}",
                "parameters": [
                    {
                        "$ref": "#/parameters/paramActivityId"
                    },
                    {
                        "$ref": "#/parameters/paramPropertyLabel"
                    },
                    {
                        "$ref": "#/parameters/paramContentDisposition"
                    },
                    {
                        "$ref": "#/parameters/paramFileContentType"
                    },
                    {
                        "$ref": "#/parameters/paramFileBody"
                    }
                ],
                "consumes": [
                    "application/octet-stream"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "204": {
                        "description": "This section describes the 204 status response for this operation."
                    }
                },
                "tags": [
                    "Core/Activities/Activity File Properties"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-{propertyLabel}-put"
            },
            "get": {
                "produces": [
                    "application/octet-stream"
                ],
                "summary": "Get a file property",
                "description": "This operation retrieves the specified file property for the specified activity.",
                "operationId": "get /rest/ofscCore/v1/activities/{activityId}/{propertyLabel}",
                "x-relation": [
                    "daily-extract-subfolder-files"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/file"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/paramActivityId"
                    },
                    {
                        "$ref": "#/parameters/paramPropertyLabel"
                    },
                    {
                        "$ref": "#/parameters/paramAccept"
                    }
                ],
                "tags": [
                    "Core/Activities/Activity File Properties"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-{propertyLabel}-get"
            },
            "delete": {
                "summary": "Delete a file property",
                "description": "This operation deletes the specified file property for the specified activtiy.",
                "operationId": "delete /rest/ofscCore/v1/activities/{activityId}/{propertyLabel}",
                "parameters": [
                    {
                        "$ref": "#/parameters/paramActivityId"
                    },
                    {
                        "$ref": "#/parameters/paramPropertyLabel"
                    }
                ],
                "consumes": [
                    "application/octet-stream"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "204": {
                        "description": "This section describes the 204 status response for this operation. This response code indicates that the operation completed successfully. The operation does not return elements in the response body."
                    }
                },
                "tags": [
                    "Core/Activities/Activity File Properties"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-{propertyLabel}-delete"
            }
        },
        "/activities/{activityId}/submittedForms": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "Get associated submitted forms",
                "description": "The function allows to retrieve all submitted data related to an activity or bundle of activities.",
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/submittedForms"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/paramActivityId"
                    },
                    {
                        "name": "scope",
                        "in": "query",
                        "type": "string",
                        "description": "Scope. Whether to return submitted forms related only to the activity or to all bundled activities. If the value is 'activity', all data of all submitted forms related to the activity is returned. If the value is 'bundles' then only submitted forms related to configured bundles are returned. Allowed values [ <b>activity</b>, <b>bundles</b> ]. Default: <b>bundles</b>",
                        "required": false
                    },
                    {
                        "name": "bundle",
                        "in": "query",
                        "type": "string",
                        "description": "Label of a bundling rule. The parameter allows to specify the label of the bundle to filter the returned data. Only submitted forms related to a specific bundle will be present in the response. If the parameter is not specified, all the submitted forms related to all bundles will be returned. This parameter is not allowed if the 'scope' parameter has value 'activity'. Default: all the submitted forms related to all bundles related to the activity will be returned",
                        "required": false
                    },
                    {
                        "$ref": "#/parameters/paramOffset"
                    },
                    {
                        "$ref": "#/parameters/paramLimit"
                    }
                ],
                "tags": [
                    "Core/Activities/Submitted Forms"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-submittedForms-get"
            }
        },
        "/activities/{activityId}/resourcePreferences": {
            "put": {
                "summary": "Set resource preferences of an activity",
                "description": "This operation sets the resource preferences for the specified activity.<p>Resource preferences are used to identify if a resource is preferred/required or forbidden from being assigned to an activity.</p><p>If the specified activity already contains resource preferences, this operation replaces them with the values specified in the request.",
                "operationId": "put /rest/ofscCore/v1/activities/{activityId}/resourcePreferences",
                "x-relation": [
                    "replace"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "204": {
                        "description": "This section describes the 204 status response for this operation. This response code indicates that the operation completed successfully."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service. ",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/resourcePreferences"
                        }
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Resource Preferences"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-resourcePreferences-put"
            },
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "Get resource preferences of an activity",
                "description": "This operation retrieves the resource preferences for the specified activity. Resource preferences identify whether a resource should be assigned to the activity or not.",
                "operationId": "get /rest/ofscCore/v1/activities/{activityId}/resourcePreferences",
                "x-relation": [
                    "canonical"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/resourcePreferences"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "string",
                        "required": true
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Resource Preferences"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-resourcePreferences-get"
            },
            "delete": {
                "produces": [
                    "application/json"
                ],
                "summary": "Delete resource preferences of an activity",
                "description": "This operation deletes the existing resource preferences of the specified activity.",
                "operationId": "delete /rest/ofscCore/v1/activities/{activityId}/resourcePreferences",
                "x-relation": [
                    "delete"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "204": {
                        "description": "This section describes the 204 status response for this operation. This response code indicates that the operation completed successfully. This operation does not return elements in the response body."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service. ",
                        "type": "string",
                        "required": true
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Resource Preferences"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-resourcePreferences-delete"
            }
        },
        "/activities/{activityId}/requiredInventories": {
            "put": {
                "produces": [
                    "application/json"
                ],
                "summary": "Set required inventories for an activity",
                "description": "This operation updates the required inventories for the specified activity.<p>If the specified activity already has the required inventories, then this operation updates the required inventories with the information specified in the request.</p>",
                "operationId": "put /rest/ofscCore/v1/activities/{activityId}/requiredInventories",
                "x-relation": [
                    "replace"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "204": {
                        "description": "This section describes the 204 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/requiredInventories"
                        }
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Required Inventories"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-requiredInventories-put"
            },
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "Get required inventories of an activity",
                "description": "This operation retrieves the required inventories of the specified activity.",
                "operationId": "get /rest/ofscCore/v1/activities/{activityId}/requiredInventories",
                "x-relation": [
                    "canonical"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/requiredInventories"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "$ref": "#/parameters/paramOffset"
                    },
                    {
                        "$ref": "#/parameters/paramLimit"
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Required Inventories"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-requiredInventories-get"
            },
            "delete": {
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/octet-stream"
                ],
                "summary": "Delete required inventories of an activity",
                "description": "This operation deletes the required inventories assigned to the specified activity.",
                "operationId": "delete /rest/ofscCore/v1/activities/{activityId}/requiredInventories",
                "x-relation": [
                    "delete"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "204": {
                        "description": "This section describes the 204 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "string",
                        "required": true
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Required Inventories"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-requiredInventories-delete"
            }
        },
        "/activities/{activityId}/customerInventories": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "summary": "Create a customer inventory",
                "description": "This operation creates a customer inventory and assigns it to the specified activity. ",
                "operationId": "post /rest/ofscCore/v1/activities/{activityId}/customerInventories",
                "x-relation": [
                    "create"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "201": {
                        "schema": {
                            "$ref": "#/definitions/inventory"
                        },
                        "description": "This section describes the 201 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/paramActivityId"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/createCustomerInventory"
                        }
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Inventories"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-customerInventories-post"
            },
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "Get customer inventories",
                "description": "This operation retrieves a list of customer inventories assigned to the specified activity.",
                "operationId": "get /rest/ofscCore/v1/activities/{activityId}/customerInventories",
                "x-relation": [
                    "get-customer-inventories"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "type": "object",
                            "title": "Customer Inventories",
                            "description": "The collection of customer inventories assigned to the specified activity.",
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/inventory"
                                    }
                                }
                            }
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/paramActivityId"
                    },
                    {
                        "$ref": "#/parameters/paramOffset"
                    },
                    {
                        "$ref": "#/parameters/paramLimit"
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Inventories"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-customerInventories-get"
            }
        },
        "/activities/{activityId}/installedInventories": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "Get installed inventories",
                "description": "This operation retrieves a list of installed inventories for the specified activity.",
                "operationId": "get /rest/ofscCore/v1/activities/{activityId}/installedInventories",
                "x-relation": [
                    "get-installed-inventories"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "type": "object",
                            "title": "Customer Inventories",
                            "description": "The collection of installed inventories assigned to the specified activity.",
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/inventory"
                                    }
                                }
                            }
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/paramActivityId"
                    },
                    {
                        "$ref": "#/parameters/paramOffset"
                    },
                    {
                        "$ref": "#/parameters/paramLimit"
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Inventories"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-installedInventories-get"
            }
        },
        "/activities/{activityId}/deinstalledInventories": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "Get deinstalled inventories",
                "description": "This operation retrieves a list of deinstalled inventories for the specified activity.",
                "operationId": "get /rest/ofscCore/v1/activities/{activityId}/deinstalledInventories",
                "x-relation": [
                    "get-deinstalled-inventories"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "type": "object",
                            "title": "Deinstalled Inventories",
                            "description": "The collection of deinstalled inventories assigned to the specified activity.",
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/inventory"
                                    }
                                }
                            }
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/paramActivityId"
                    },
                    {
                        "$ref": "#/parameters/paramOffset"
                    },
                    {
                        "$ref": "#/parameters/paramLimit"
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Inventories"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-deinstalledInventories-get"
            }
        },
        "/activities/{activityId}/linkedActivities": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "Get activity links",
                "description": "This operation retrieves the list of links for the specified activity.<p>Activity links define the correlation between two activities. If a link is created between two activities, it can define the following relations:</p><ul><li>The sequence in which the activities are performed. The basic link types allowed are finish-to-start, start-to-start, simultaneous, and related.</li><li>The minimum and maximum intervals between sequential activities.</li><li>Whether the linked activities are performed by the same resource or different resources.</li></ul><p>For multi-day activities, only the Related link type is applicable.</p>",
                "operationId": "get /rest/ofscCore/v1/activities/{activityId}/linkedActivities",
                "x-relation": [
                    "get-all"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/linkedActivities"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "string",
                        "required": true
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Links"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-linkedActivities-get"
            },
            "delete": {
                "produces": [
                    "application/json"
                ],
                "summary": "Delete all activity links",
                "description": "This operation deletes all the links for the specified activity.<p>Activity links define the correlation between two activities. If a link is created between two activities, it can define the following relations:</p><ul><li>The sequence in which the activities are performed. The basic link types allowed are finish-to-start, start-to-start, simultaneous, and related.</li><li>The minimum and maximum intervals between sequential activities.</li><li>Whether the linked activities are performed by the same resource or different resources.</li></ul><p>For multi-day activities, only the Related link type is applicable.</p>",
                "operationId": "delete /rest/ofscCore/v1/activities/{activityId}/linkedActivities",
                "x-relation": [
                    "delete-all"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "204": {
                        "schema": {
                            "$ref": "#/definitions/linkedActivities"
                        },
                        "description": "This section describes the 204 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "string",
                        "required": true
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Links"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-linkedActivities-delete"
            },
            "post": {
                "produces": [
                    "application/json"
                ],
                "summary": "Create an activity link",
                "description": "This operation creates a link for the specified activity.<p>Activity links define the correlation between two activities. If a link is created between two activities, it can define the following relations:</p><ul><li>The sequence in which the activities are performed. The basic link types allowed are finish-to-start, start-to-start, simultaneous, and related.</li><li>The minimum and maximum intervals between sequential activities.</li><li>Whether the linked activities are performed by the same resource or different resources.</li></ul>",
                "operationId": "post /rest/ofscCore/v1/activities/{activityId}/linkedActivities",
                "x-relation": [
                    "create-one"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "201": {
                        "schema": {
                            "$ref": "#/definitions/linkedActivity"
                        },
                        "description": "This section describes the 201 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/linkedActivity"
                        }
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Links"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-linkedActivities-post"
            }
        },
        "/activities/{activityId}/capacityCategories": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "Get capacity categories of activity",
                "description": "This operation returns capacity categories of the specified activity.",
                "operationId": "post /rest/ofscCore/v1/activities/{activityId}/capacityCategories",
                "x-relation": [
                    "capacityCategories"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/getCapacityCategoriesSchema"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "integer",
                        "required": true
                    }
                ],
                "tags": [
                    "Core/Activities"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-capacityCategories-get"
            }
        },
        "/activities/{activityId}/linkedActivities/{linkedActivityId}/linkTypes/{linkType}": {
            "delete": {
                "produces": [
                    "application/json"
                ],
                "summary": "Delete an activity link",
                "description": "This operation deletes the link between the two specified activities.<p>Activity links define the correlation between two activities. If a link is created between two activities, it can define the following relations:</p><ul><li>The sequence in which the activities are performed. The basic link types allowed are finish-to-start, start-to-start, simultaneous, and related.</li><li>The minimum and maximum intervals between sequential activities.</li><li>Whether the linked activities are performed by the same resource or different resources.</li></ul><p>For multi-day activities, only the Related link type is applicable.</p>",
                "operationId": "delete /rest/ofscCore/v1/activities/{activityId}/linkedActivities/{linkedActivityId}/linkTypes/{linkType}",
                "x-relation": [
                    "delete-one"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "204": {
                        "description": "This section describes the 204 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "linkedActivityId",
                        "in": "path",
                        "description": "The identifier of the linked activity.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "linkType",
                        "in": "path",
                        "description": "The label of the link type. Specify the type of relation between the activities.",
                        "type": "string",
                        "required": true
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Links"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-linkedActivities-{linkedActivityId}-linkTypes-{linkType}-delete"
            },
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "Get activity link details",
                "description": "This operation retrieves the details of the link between the specified activities.<p>Activity links define the correlation between two activities. If a link is created between two activities, it can define the following relations:</p><ul><li>The sequence in which the activities are performed. The basic link types allowed are finish-to-start, start-to-start, simultaneous, and related.</li><li>The minimum and maximum intervals between sequential activities.</li><li>Whether the linked activities are performed by the same resource or different resources.</li></ul><p>For multi-day activities, only the Related link type is applicable.</p>",
                "operationId": "get /rest/ofscCore/v1/activities/{activityId}/linkedActivities/{linkedActivityId}/linkTypes/{linkType}",
                "x-relation": [
                    "get-one"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/linkedActivity"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "linkedActivityId",
                        "in": "path",
                        "description": "The identifier of the linked activity.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "linkType",
                        "in": "path",
                        "description": "The label of the link type. Specify the type of relation between the activities.",
                        "type": "string",
                        "required": true
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Links"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-linkedActivities-{linkedActivityId}-linkTypes-{linkType}-get"
            },
            "put": {
                "produces": [
                    "application/json"
                ],
                "summary": "Replace an activity link",
                "description": "This operation creates or replaces a link between the specified activities.<p>Activity links define the correlation between two activities. If a link is created between two activities, it can define the following relations:</p><ul><li>The sequence in which the activities are performed. The basic link types allowed are finish-to-start, start-to-start, simultaneous, and related.</li><li>The minimum and maximum intervals between sequential activities.</li><li>Whether the linked activities are performed by the same resource or different resources.</li></ul>",
                "operationId": "put /rest/ofscCore/v1/activities/{activityId}/linkedActivities/{linkedActivityId}/linkTypes/{linkType}",
                "x-relation": [
                    "replace-one"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/linkedActivity"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "The unique identifier of the activity in Oracle Field Service.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "linkedActivityId",
                        "in": "path",
                        "description": "The identifier of the linked activity.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "linkType",
                        "in": "path",
                        "description": "The label of the link type. Specify the type of relation between the activities.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/linkedActivity"
                        }
                    }
                ],
                "tags": [
                    "Core/Activities/Activity Links"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-{activityId}-linkedActivities-{linkedActivityId}-linkTypes-{linkType}-put"
            }
        },
        "/activities/custom-actions/search": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "Search for activities",
                "description": "This operation retrieves the activities that match the specified search criteria.<p><b>Note: </b>The search operation ends if 1000 matching records are found. If the operation fails to obtain the required records, then refine the search criteria and perform the operation again.</p><p><b>Note: </b>It is not advised to retrieve long property values using the search function. For long property values (~2k and more) that are present in the response the function may need additional processing time, as the result, if there are such long values, the whole response time may be slowed down. </p>",
                "operationId": "get /rest/ofscCore/v1/activities/custom-actions/search",
                "x-relation": [
                    "search"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/activities"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
                "parameters": [
                    {
                        "name": "searchInField",
                        "in": "query",
                        "description": "The name of the field that is used to search for activities. One of the following predefined fields can be used:<ul><li>customerName</li> <li>apptNumber</li><li>customerNumber</li> <li>customerEmail</li> <li>customerPhone</li> <li>customerCell</li> <li>streetAddress</li> <li>postalCode</li></ul> Or it can be a label of custom property. <p><b>Note</b> For a successful search, ensure that the field is selected in the Configuration, Business Rules, Activity Search Fields screen of the Oracle Field Service application.",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 40,
                        "required": true
                    },
                    {
                        "name": "searchForValue",
                        "in": "query",
                        "description": "The activities that match the specified value (max length is 255) are returned in the response. For example, if the customer name is specified as 'John Smith', then all activities with the name \"Smith\" are returned.",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "dateFrom",
                        "in": "query",
                        "description": "The activities that begin from the specified date are retrieved in the response. Specify the date in YYYY-MM-DD format. This is a required parameter unless the 'includeNonScheduled' parameter is set to true.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "dateTo",
                        "in": "query",
                        "description": "The activities that end until the specified date are retrieved in the response. Specify the date in YYYY-MM-DD format. This is a required parameter unless the 'includeNonScheduled' parameter is set to true.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The comma-separated field names which are to be returned in the response. The field names include the names used to create an activity or get an activity and the custom property names. The default values are activityId, resourceId, date, and status. <p>Note that activities found with 'recordType' having a value of 'multiday_activity_segment' may not contain values for custom properties if an activity segment is in pending status. These values are only present in the parent activity of the segmentable activity. Note that found activities with recordType=multiday_activity_segment may not contain values of custom properties segment in pending status (they are only present in the parent activity of the segmentable activity).</p>",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv",
                        "required": false
                    },
                    {
                        "name": "includeMultiday",
                        "in": "query",
                        "description": "The parameter determines whether the response should contain segmentable activities. If not specified, then, by default, the segmentable activities are returned.<ul><li>If the value of the parameter is \"all\", then individual segments and parent activities are returned. This is the default behavior.</li><li>If the value of the  parameter is \"segments\", then only the individual segments are returned.</li><li>If the value of the parameter is \"parents\", then only the segmentable parent activities are returned.</li><li>if the value of the parameter is \"none\", then neither the individual segments nor the parent activities are returned.</li></ul>",
                        "type": "string",
                        "enum": [
                            "all",
                            "segments",
                            "parents",
                            "none"
                        ],
                        "required": false
                    },
                    {
                        "name": "includeNonScheduled",
                        "in": "query",
                        "description": "The parameter determines whether the response should contain non-scheduled activities. If not specified, then, by default, the non-scheduled activities are returned.<ul><li>If the value of the parameter is \"true\", then the dateFrom and dateTo parameters are not required. If the dateFrom and dateTo parameters are not specified, then only the non-scheduled activities are returned.</li><li>If the value of the parameter is \"true\" and the dateFrom and dateTo parameters are specified, then both the scheduled and non-scheduled activities are returned.</li><li>If the value of the parameter is \"false\", then the dateFrom and dateTo parameters are required, but only the scheduled activities are returned.</li></ul>",
                        "type": "string",
                        "enum": [
                            "true",
                            "false",
                            "0",
                            "1"
                        ],
                        "required": false
                    },
                    {
                        "$ref": "#/parameters/paramOffset"
                    },
                    {
                        "$ref": "#/parameters/paramLimit"
                    }
                ],
                "tags": [
                    "Core/Activities"
                ],
                "x-internal-id": "rest-ofscCore-v1-activities-custom-actions-search-get"
            }
        },
        "/activities/custom-actions/bulkUpdate": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "summary": "Bulk update activities",
                "description": "This operation simultaneously creates or updates multiple activities in a single call.<p>This operation is used to synchronize data from an external system to Oracle Field Service. The operation performs the following actions:</p><ul><li>Attempts to find an activity in Oracle Field Service based on the key fields provided in the request. Note that past activities (on yesterday and earlier) are not visible for the function.</li><li>Creates a new activity, if no match is found or updates the existing activity, if a match is found.</li><li>Updates the related objects of an activity, if the objects are present in the request.</li> The following objects are updated:<ul><li>Customer inventories</li><li>Required inventories</li><li>Resource preferences</li><li>Activity links</li></ul></ul><p>The updates are made in the order of the activity items in the request.</p><p>This operation is executed as multiple transactions where in each transaction may succeed or fail. The response contains a list of results which includes the success or failure of each transaction and the reason for failure (if applicable).</p><p><b>Restrictions:</b></p><p>Moving between dates is supported only for individual segments of a segmentable activity. This function doesn't support moving a whole segmentable activity to a new date.</p><p>The following restrictions apply while updating multiple activities simultaneously:</p><ul><li>Maximum size of the decoded HTTP request is 5 MB.</li><li>File properties cannot be set.</li></ul>",
                "operationId": "post /rest/ofscCore/v1/activities/custom-actions/bulkUpdate",
                "x-relation": [
                    "bulkUpdate"
                ],
                "responses": {
                    "default": {
                        "description": "This section describes the default error response for this operation.",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/customActionActivityBulkUpdateSchemaResponse"
                        },
                        "description": "This section describes the 200 status response for this operation."
                    }
                },
[...]
